<!DOCTYPE html>
{% load static %}
<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8"/>

    <title>Specto</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">

    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {"families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"]},
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Web font -->

    <!--begin::Base Styles -->


    <!--begin::Page Vendors -->
    {#    <link href="assets/vendors/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css"/>#}
    <link href="{% static 'mainsite/assets/vendors/custom/demo5/fullcalendar/fullcalendar.bundle.css' %}"
          rel="stylesheet"
          type="text/css"/>
    <!--RTL version:<link href="assets/vendors/custom/fullcalendar/fullcalendar.bundle.rtl.css" rel="stylesheet" type="text/css" />-->

    <!--end::Page Vendors -->

    <link href="{% static 'mainsite/assets/vendors/base/demo5/vendors.bundle.css' %}" rel="stylesheet" type="text/css"/>

    {#    <link href="assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css"/>#}
    <!--RTL version:<link href="assets/vendors/base/vendors.bundle.rtl.css" rel="stylesheet" type="text/css" />-->

    {#    <link href="assets/demo/demo5/base/style.bundle.css" rel="stylesheet" type="text/css"/>#}
    <link href="{% static 'mainsite/assets/demo/demo5/base/style.bundle.css' %}" rel="stylesheet" type="text/css"/>

    <!--RTL version:<link href="assets/demo/demo5/base/style.bundle.rtl.css" rel="stylesheet" type="text/css" />-->

    <!--end::Base Styles -->

    {#    <link rel="shortcut icon" href="assets/demo/demo5/media/img/logo/favicon.ico"/>#}
    <link rel="shortcut icon" href='{% static "mainsite/assets/demo/default/media/img/logo/favicon.ico" %}'/>
    <link href='{% static "mainsite/assets/vendors/jquery-growl/css/jquery.growl.css" %}' rel="stylesheet"
          type="text/css"/>

    <link href="{% static 'css/cropper.min.css' %}" rel="stylesheet">

    <style type="text/css">
        .menu-active {
            background-color: #f7f8fa;
        }

        .hidden {
            display: none !important;
        }

        .m-menu__subnav .m-menu__item {
            background: white;
        }
    </style>
    <style>
        .btn-new {
            color: #fff;
            background-color: #696969;
            border-color: #696969
        }

        .btn-new:hover {
            color: #fff;
            background-color: #d6d6d6;
            border-color: #d6d6d6;
        }

        .btn-new.focus,
        .btn-new:focus {
            box-shadow: 0 0 0 3px rgba(52, 191, 163, .5)
        }

        .btn-new.disabled,
        .btn-new:disabled {
            background-color: #696969;
            border-color: #696969
        }

        .btn-new.active,
        .btn-new:active,
        .show > .btn-new.dropdown-toggle {
            background-color: #474444;
            background-image: none;
            border-color: #474444
        }
    </style>
    <!--amcharts charts -->
    <script src="{% static "js/amcharts/amcharts.js" %}" type="text/javascript"></script>
    <script src="{% static "js/amcharts/gauge.js" %}" type="text/javascript"></script>
    <script src="{% static "js/amcharts/serial.js" %}" type="text/javascript"></script>
    <script src="{% static "js/amcharts/amstock.js" %}" type="text/javascript"></script>
    {% block extraStyles %} {% endblock %}
</head>
<!-- end::Head -->


<!-- begin::Body -->
<body class="m-page--wide m-header--fixed m-header--fixed-mobile m-footer--push m-aside--offcanvas-default">


<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
    {% include 'mainsite/blocks/authenticated_topbar_test.html' %}

    <!-- begin::Body -->

    <div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body">
        <div class="m-grid__item m-grid__item--fluid m-wrapper">

            {% block content %} {% endblock %}
        </div>

    </div>
    <!-- end::Body -->


    <!-- begin::Footer -->
    <footer class="m-grid__item m-footer ">
        <div class="m-container m-container--responsive m-container--xxl m-container--full-height m-page__container">
            <div class="m-footer__wrapper">
                <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                    <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
					<span class="m-footer__copyright">
						2018 &copy; Specto
					</span>
                    </div>
                    <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
                        <ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
                            <li class="m-nav__item">
                                <a href="#" class="m-nav__link">
                                    <span class="m-nav__link-text">About</span>
                                </a>
                            </li>
                            <li class="m-nav__item">
                                <a href="#" class="m-nav__link">
                                    <span class="m-nav__link-text">Privacy</span>
                                </a>
                            </li>
                            <li class="m-nav__item">
                                <a href="#" class="m-nav__link">
                                    <span class="m-nav__link-text">T&C</span>
                                </a>
                            </li>
                            <li class="m-nav__item">
                                <a href="#" class="m-nav__link">
                                    <span class="m-nav__link-text">Purchase</span>
                                </a>
                            </li>
                            <li class="m-nav__item m-nav__item--last">
                                <a href="#" class="m-nav__link" data-toggle="m-tooltip" title="Support Center"
                                   data-placement="left">
                                    <i class="m-nav__link-icon flaticon-info m--icon-font-size-lg3"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end::Footer -->
</div>
<!-- end:: Page -->

<!-- begin::Scroll Top -->
<div class="m-scroll-top m-scroll-top--skin-top" data-toggle="m-scroll-top" data-scroll-offset="500"
     data-scroll-speed="300">
    <i class="la la-arrow-up"></i>
</div>

<!--begin::Modal-->
<div class="modal" id="confirm_modal" data-confirm-modal tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Confirm
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">
								&times;
							</span>
                </button>
            </div>
            <div class="modal-body">
                <p data-text></p>
            </div>
            <div class="modal-footer">
                <button type="button" data-action-close class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="button" data-action-no class="btn btn-secondary" data-dismiss="modal">
                    No
                </button>
                <a href="" data-action-yes type="button" class="btn btn-primary">
                    Yes
                </a>
            </div>
        </div>
    </div>
</div>
<!--end::Modal-->


<!--begin::Base Scripts -->
<script type="text/javascript">
    var BASE_URL = "{{SITE_URL}}";
    var STOCKS_URL = BASE_URL + '/stocks';
    var SEARCH_URL = "{% url 'stock.search' %}";
</script>
<script type="text/javascript" src="{% static 'js/base_helpers.js' %}"></script>
<script src="{% static 'mainsite/assets/vendors/base/demo5/vendors.bundle.js' %}" type="text/javascript"></script>
<script src="{% static 'mainsite/assets/demo/demo5/base/scripts.bundle.js' %}" type="text/javascript"></script>
<!--end::Base Scripts -->
<!--begin::Page Vendors -->
<script src="{% static 'mainsite/assets/vendors/custom/demo5/fullcalendar/fullcalendar.bundle.js' %}"
        type="text/javascript"></script>
<!--end::Page Vendors -->
<!--begin::Page Snippets -->
<script src="{% static 'mainsite/assets/app/js/demo5/dashboard.js' %}" type="text/javascript"></script>
<script src="{% static 'mainsite/assets/app/js/demo5/layout-builder.js' %}" type="text/javascript"></script>
<!--end::Page Snippets -->

<!-- // Js Growl -->
<script src='{% static "mainsite/assets/vendors/jquery-growl/js/jquery.growl.js" %}' type="text/javascript"></script>
<script type="text/javascript">
    {% if form.errors %}
        {% for message in form.errors %}
            $.growl.error({message: "{{ message }}"});
        {% endfor %}
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                $.growl.error({message: "{{ message }}"});
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                $.growl.warning({message: "{{ message }}"});
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                $.growl.notice({message: "{{ message }}"});
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                $.growl.info({message: "{{ message }}"});
            {% endif %}
        {% endfor %}
    {% endif %}
</script>
<!-- //JS Growl -->

<script>
    function updateCartIcon() {
        if ($('#cartBadgeIcon') && $('#cartBadgeIcon').text() && $('#cartBadgeIcon').text().length > 0) {
            var number = parseInt($('#cartBadgeIcon').text());
            $('#cartBadgeIcon').text(number + 1);
        }
        else {

            $('#cartBadgeIcon').remove();
            $('#cartDiv').append('<span class="badge badge-danger" id="cartBadgeIcon" style="vertical-align: top;margin-left: 5px;margin-top: -10px;position: absolute;font-size: 10px;height: 14px;width: 14px;">1</span>');
        }
    }
    $(document).ready(function () {
        $("#m_quicksearch_input").focus(function () {
            $("#search_input_div").css("border", "1px solid #0046ff");
            $("#m_quicksearch_input").css("color", "#FFFFFF");
        });
        $("#m_quicksearch_input").focusout(function () {
            $("#search_input_div").css("border", "");
            $("#m_quicksearch_input").css("color", "");
        });
    });
</script>
{% block extraScripts %} {% endblock %}
</body>
<!-- end::Body -->
</html>
