<div class="m-portlet m-portlet--full-height  ">
    <div class="m-portlet__body">
        <div class="m-card-profile">
            <div class="m-card-profile__title m--hide">
                Your Profile
            </div>
            <div class="m-card-profile__pic">
                <div class="m-card-profile__pic-wrapper">
                    <img id="openModal" src="{{ CP_USER_AVATAR }}" alt="" style="cursor: pointer;"/>
                </div>
            </div>
            <div class="m-card-profile__details">
				<span class="m-card-profile__name">
					{{ request.user.get_full_name }}
				</span>
                <a href="" class="m-card-profile__email m-link">
                    {{ request.user.get_email }}
                </a>
            </div>
        </div>
        <ul class="m-nav m-nav--hover-bg m-portlet-fit--sides">
            <li class="m-nav__separator m-nav__separator--fit"></li>
            <li class="m-nav__section m--hide">
				<span class="m-nav__section-text">
					Section
				</span>
            </li>
            <li class="m-nav__item {% if request.resolver_match.url_name == 'profile' %}menu-active{% endif %}">
                <a href="{% url 'profile' %}" class="m-nav__link">
                    <i class="m-nav__link-icon flaticon-profile-1"></i>
                    <span class="m-nav__link-title">
						<span class="m-nav__link-wrap">
							<span class="m-nav__link-text">
								My Profile
							</span>
						</span>
					</span>
                </a>
            </li>
            <li class="m-nav__item {% if request.resolver_match.url_name == 'account-settings' %}menu-active{% endif %}">
                <a href="{% url 'account-settings' %}" class="m-nav__link">
                    <i class="m-nav__link-icon flaticon-share"></i>
                    <span class="m-nav__link-text">
						Account Privacy & Security
					</span>
                </a>
            </li>
            <li class="m-nav__item {% if request.resolver_match.url_name == 'my-subscriptions-history' %} m-menu__item--active {% endif %}">
                <a href="{% url 'my-subscriptions-history' %}" class="m-nav__link">
                    <i class="m-nav__link-icon flaticon-share"></i>
                    <span class="m-nav__link-text">
						My Payment history
					</span>
                </a>
            </li>
        </ul>
        <div class="m-portlet__body-separator"></div>

    </div>
</div>