{% extends 'mainsite/layouts/private/master-frontend-test.html' %}
{% load static %}

{% block extraStyles %}
    <style type="text/css">
        @media (min-width: 993px) {
            .m-header--fixed .m-body {
                padding-top: 100px !important;
            }
        }

        /* Select2 hacks for fixing styling */
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 12px !important;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            top: 12px !important;
        }

        .select2-container {
            min-width: 100% !important;
        }
    </style>
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" /> -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}"/>

    <link href="{% static 'css/cropper.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <!-- BEGIN: Left Aside -->
        <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn">
            <i class="la la-close"></i>
        </button>
        <!-- END: Left Aside -->
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <!-- BEGIN: Subheader -->
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title ">
                            My Profile
                        </h3>
                    </div>
                </div>
            </div>
            <!-- END: Subheader -->
            <div class="m-content">

                <div class="row">
                    <div class="col-xl-3 col-lg-4">
                        {% include 'blocks/left-sidebar-profile.html' %}
                    </div>
                    <div class="col-xl-9 col-lg-8">
                        <div class="m-portlet m-portlet--full-height m-portlet--tabs  ">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-tools">
                                    <ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary"
                                        role="tablist">
                                        <li class="nav-item m-tabs__item">
                                            <a class="nav-link m-tabs__link active" data-toggle="tab"
                                               href="#m_user_profile_tab_1" role="tab">
                                                <i class="flaticon-share m--hide"></i>
                                                Update Profile
                                            </a>
                                        </li>
                                        <!-- <li class="nav-item m-tabs__item">
                                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
                                                Messages
                                            </a>
                                        </li> -->
                                        <!-- <li class="nav-item m-tabs__item">
                                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_3" role="tab">
                                                Settings
                                            </a>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="m_user_profile_tab_1">
                                    <form class="m-form m-form--fit m-form--label-align-right" method="post"
                                          action="{% url 'save_profile' %}">
                                        {% csrf_token %}
                                        <div class="m-portlet__body">
                                            <div class="form-group m-form__group m--margin-top-10 m--hide">
                                                <div class="alert m-alert m-alert--default" role="alert">
                                                    The example form below demonstrates common HTML form elements that
                                                    receive updated styles from Bootstrap with additional classes.
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <div class="col-10 ml-auto">
                                                    <h3 class="m-form__section">
                                                        1. Personal Details
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label for="example-text-input" class="col-2 col-form-label">
                                                    First Name
                                                </label>
                                                <div class="col-7">
                                                    <input class="form-control m-input" type="text" name="first_name"
                                                           required value="{{ request.user.first_name }}">
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label for="example-text-input" class="col-2 col-form-label">
                                                    Last Name
                                                </label>
                                                <div class="col-7">
                                                    <input class="form-control m-input" type="text" name="last_name"
                                                           required value="{{ request.user.last_name }}">
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label for="example-text-input" class="col-2 col-form-label">
                                                    Phone
                                                </label>
                                                <div class="col-7">
                                                    <input class="form-control m-input" type="text" name="phone"
                                                           value="{{ request.user.userprofile.phone|default:'' }}"
                                                           onkeypress="return isNumber(event)" maxlength="16">
                                                    <span class="m-form__help">
													(Optional)
												</span>
                                                </div>
                                            </div>

                                            <div class="form-group m-form__group row">
                                                <div class="col-10 ml-auto">
                                                    <h3 class="m-form__section">
                                                        2. Address Details
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label for="example-text-input" class="col-2 col-form-label">
                                                    Country
                                                </label>
                                                <div class="col-7">
                                                    <select class="select-country" name="country">

                                                        {% if guess_geo and not geo.geoplugin_countryCode %}
                                                            <option value=""></option>
                                                        {% endif %}

                                                        {% for country in countries %}
                                                            {% if guess_geo %}
                                                                <option
                                                                        {% if country.code2 == geo.geoplugin_countryCode %}
                                                                            selected
                                                                        {% endif %}
                                                                            value="{{ country.id }}">{{ country.name_ascii }}</option>
                                                            {% else %}
                                                                <option
                                                                        {% if user_profile.country|slugify == country.id|slugify %}
                                                                            selected
                                                                        {% endif %}
                                                                            value="{{ country.id }}"
                                                                            country=="{{ user_profile.country }}">{{ country.name_ascii }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label for="example-text-input" class="col-2 col-form-label">
                                                    Region/State
                                                </label>
                                                <div class="col-7">
                                                    <!-- <input class="form-control m-input" type="text" value="" value="{{ request.user.userprofile.state }}">
												<span class="m-form__help">
													(Under work!!)
												</span> -->
                                                    <select class="select-state" name="state">
                                                        {% if guess_geo and not geo.geoplugin_countryCode %}
                                                            <option value=""></option>
                                                        {% endif %}
                                                        {% for state in states %}
                                                            <option
                                                                    {% if user_profile.state|slugify == state.id|slugify %}
                                                                        selected
                                                                    {% endif %}
                                                                        value="{{ state.id }}">{{ state.name_ascii }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label for="example-text-input" class="col-2 col-form-label">
                                                    City
                                                </label>
                                                <div class="col-7">
                                                    <select class="select-city" name="city">
                                                        {% for city in cities %}
                                                            <option
                                                                    {% if city.id|slugify == user_profile.city|slugify %}
                                                                        selected
                                                                    {% endif %}
                                                                        value="{{ city.id }}">{{ city.name_ascii }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <!-- <input class="form-control m-input" type="text" value="" value="{{ request.user.userprofile.city }}">
												<span class="m-form__help">
													(Under work!!)
												</span> -->
                                                </div>
                                            </div>

                                            <!-- <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div> -->
                                            <!-- <div class="form-group m-form__group row">
                                                <div class="col-10 ml-auto">
                                                    <h3 class="m-form__section">
                                                        2. Address
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label for="example-text-input" class="col-2 col-form-label">
                                                    Address
                                                </label>
                                                <div class="col-7">
                                                    <input class="form-control m-input" type="text" value="L-12-20 Vertex, Cybersquare">
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label for="example-text-input" class="col-2 col-form-label">
                                                    City
                                                </label>
                                                <div class="col-7">
                                                    <input class="form-control m-input" type="text" value="San Francisco">
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label for="example-text-input" class="col-2 col-form-label">
                                                    State
                                                </label>
                                                <div class="col-7">
                                                    <input class="form-control m-input" type="text" value="California">
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label for="example-text-input" class="col-2 col-form-label">
                                                    Postcode
                                                </label>
                                                <div class="col-7">
                                                    <input class="form-control m-input" type="text" value="45000">
                                                </div>
                                            </div>
                                            <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
                                            <div class="form-group m-form__group row">
                                                <div class="col-10 ml-auto">
                                                    <h3 class="m-form__section">
                                                        3. Social Links
                                                    </h3>
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label for="example-text-input" class="col-2 col-form-label">
                                                    Linkedin
                                                </label>
                                                <div class="col-7">
                                                    <input class="form-control m-input" type="text" value="www.linkedin.com/Mark.Andre">
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label for="example-text-input" class="col-2 col-form-label">
                                                    Facebook
                                                </label>
                                                <div class="col-7">
                                                    <input class="form-control m-input" type="text" value="www.facebook.com/Mark.Andre">
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label for="example-text-input" class="col-2 col-form-label">
                                                    Twitter
                                                </label>
                                                <div class="col-7">
                                                    <input class="form-control m-input" type="text" value="www.twitter.com/Mark.Andre">
                                                </div>
                                            </div>
                                            <div class="form-group m-form__group row">
                                                <label for="example-text-input" class="col-2 col-form-label">
                                                    Instagram
                                                </label>
                                                <div class="col-7">
                                                    <input class="form-control m-input" type="text" value="www.instagram.com/Mark.Andre">
                                                </div>
                                            </div> -->
                                        </div>
                                        <div class="m-portlet__foot m-portlet__foot--fit">
                                            <div class="m-form__actions">
                                                <div class="row">
                                                    <div class="col-2"></div>
                                                    <div class="col-7">
                                                        <button type="submit"
                                                                class="btn btn-accent m-btn m-btn--air m-btn--custom">
                                                            Save changes
                                                        </button>
                                                        &nbsp;&nbsp;
                                                        <button type="reset"
                                                                class="btn btn-secondary m-btn m-btn--air m-btn--custom">
                                                            Cancel
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane active" id="m_user_profile_tab_2">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modals -->
    {% include "modals/profile/image-upload.html" %}
    <!-- //Modal -->

    <!-- end:: Body -->
{% endblock %}

{% block extraScripts %}

    <script src="{% static 'js/cropper.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-file-upload/js/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'vendor/jquery-file-upload/js/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'vendor/jquery-file-upload/js/jquery.fileupload.js' %}"></script>

    <script src="{% static 'js/avatar-upload.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/select2/select2.min.js' %}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script> -->
    <script type="text/javascript">
        $('#openModal').on('click', function () {
            $('#bootstrap-modal').modal({
                keyboard: false
            })
        })

        // Allow only numbers in input field
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }

        function populate_select(identifier, html) {
            // $(identifier).html(html);
            // console.log(html);
            var html_to_add = '';
            $.each(JSON.parse(html.states), function (k, v) {
                html_to_add += "<option value='" + v.fields.id + "'>" + v.fields.name_ascii + "</option>";
            })
            $(identifier).html(html_to_add);
        }

        $(document).ready(function () {
            $select_country = $('.select-country').select2();
            $select_state = $('.select-state').select2();
            $select_city = $('.select-city').select2();

            $select_country.on('change', function (e) {
                selectedElem = $(this).select2('data')[0];
                //Change the states data according to selection
                $.ajax({
                    url: '/users/api/state/' + selectedElem.id + '',
                    dataType: "json",
                    success: function (results) {
                        var $options = [];
                        $.each(JSON.parse(results.states), function (k, v) {
                            $options.push({id: v.pk, text: v.fields.name_ascii});
                            // data_to_add.push({'id': v.fields.id, 'text': v.fields.name_ascii});
                        });

                        $('.select-state option').remove();
                        $('.select-city option').remove();

                        $('.select-state').select2({
                            data: $options
                        });

                    },
                    error: function (e) {
                        console.log(e)
                        // callback();
                    }
                })

            })

            $select_state.on('change', function (e) {
                selectedElem = $(this).select2('data')[0];
                //Change the states data according to selection
                $.ajax({
                    url: '/users/api/city/' + selectedElem.id + '',
                    dataType: "json",
                    success: function (results) {
                        var $options = [];
                        $.each(JSON.parse(results.cities), function (k, v) {
                            $options.push({id: v.pk, text: v.fields.name_ascii});
                            // data_to_add.push({'id': v.fields.id, 'text': v.fields.name_ascii});
                        });
                        $('.select-city option').remove();
                        $('.select-city').select2({
                            data: $options
                        });

                    },
                    error: function (e) {
                        console.log(e)
                        // callback();
                    }
                })

            })

        });

    </script>

    <!-- <script src="//maps.google.com/maps/api/js"></script> -->
    <script>
        // jQuery(function() {
        // 	new GeoText();
        // });
    </script>

{% endblock %}