{% extends 'mainsite/layouts/public/master.html' %}

{% block extraStyles %}
<style type="text/css">
.m-login.m-login--1 .m-login__wrapper .m-login__form .m-form__group .form-control{
	font-weight: 600;	
}
</style>
{% endblock %}

{% load static %}
{% block content %}
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
	<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--singin" id="m_login">
		<div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
			<div class="m-stack m-stack--hor m-stack--desktop">
				<div class="m-stack__item m-stack__item--fluid">
					<div class="m-login__wrapper">
						<div class="m-login__logo">
							<a href="/">
								<img src='{% static "mainsite/assets/app/media/img//logos/logo-2.png" %}'>
							</a>
						</div>
						<div class="m-login__signin">
							<div class="m-login__head">
								<h3 class="m-login__title">
									Sign In To Admin
								</h3>
							</div>
							<form class="m-login__form m-form" data-action="{% url 'login' %}" data-success-url="{% url 'index' %}" method="post">
								{% csrf_token %}
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="text" placeholder="Email" name="email" autocomplete="off">
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input m-login__form-input--last" type="password" placeholder="Password" name="password">
								</div>
								<div class="row m-login__form-sub">
									<div class="col m--align-left">
										<label class="m-checkbox m-checkbox--focus">
											<input type="checkbox" name="remember">
											Remember me
											<span></span>
										</label>
									</div>
									<div class="col m--align-right">
										<a href="javascript:;" id="m_login_forget_password" class="m-link">
											Forget Password ?
										</a>
									</div>
								</div>
								<div class="m-login__form-action">
									<button ol_id="login_submit" id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
										Sign In
									</button>
								</div>
							</form>
						</div>
						<div class="m-login__signup">
							<div class="m-login__head">
								<h3 class="m-login__title">
									Sign Up
								</h3>
								<div class="m-login__desc">
									Enter your details to create your account:
								</div>
							</div>
							<form class="m-login__form m-form" data-action="{% url 'register' %}" data-success-url="{% url 'index' %}" method="post">
								{% csrf_token %}
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="text" placeholder="First Name" name="first_name">
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="text" placeholder="Last Name" name="last_name">
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="text" placeholder="Email" name="email" autocomplete="off">
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="password" placeholder="Password" name="password">
								</div>
								<div class="form-group m-form__group">
									<input class="form-control m-input m-login__form-input--last" type="password" placeholder="Confirm Password" name="confirm_password">
								</div>
								<div class="row form-group m-form__group m-login__form-sub">
									<div class="col m--align-left">
										<label class="m-checkbox m-checkbox--focus">
											<input type="checkbox" name="agree" required data-msg="Please agree to the Terms and Conditions to proceed..">
											I Agree the
											<a href="#" data-modal-trigger="termsAndConditions" class="m-link m-link--focus">
												terms and conditions
											</a>
											.
											<span></span>
										</label>
										<span class="m-form__help"></span>
									</div>
								</div>
								<div class="m-login__form-action">
									<button ol_ id="m_login_signup_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
										Sign Up
									</button>
									<button id="m_login_signup_cancel" class="btn btn-outline-focus  m-btn m-btn--pill m-btn--custom">
										Cancel
									</button>
								</div>
							</form>
						</div>
						<div class="m-login__forget-password">
							<div class="m-login__head">
								<h3 class="m-login__title">
									Forgotten Password ?
								</h3>
								<div class="m-login__desc">
									Enter your email to reset your password:
								</div>								
							</div>
							<form class="m-login__form m-form" data-action="{% url 'password_request_reset' %}" method="post">
								{% csrf_token %}
								<div class="form-group m-form__group">
									<input class="form-control m-input" type="email" placeholder="Email" name="email" id="m_email" autocomplete="off">
								</div>
								<div class="m-login__form-action">
									<button id="m_login_forget_password_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">
										Request
									</button>
									<button id="m_login_forget_password_cancel" class="btn btn-outline-focus m-btn m-btn--pill m-btn--custom">
										Cancel
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="m-stack__item m-stack__item--center">
					<div class="m-login__account">
						<span class="m-login__account-msg">
							Don't have an account yet ?
						</span>
						&nbsp;&nbsp;
						<a href="javascript:;" id="m_login_signup" class="m-link m-link--focus m-login__account-link">
							Sign Up
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content" style="background-image: url('{% static "mainsite/assets/app/media/img//bg/bg-4.jpg" %}')">
			<div class="m-grid__item m-grid__item--middle">
				<h3 class="m-login__welcome">
					Join Our Community
				</h3>
				<p class="m-login__msg">
					Lorem ipsum dolor sit amet, coectetuer adipiscing
					<br>
					elit sed diam nonummy et nibh euismod
				</p>
			</div>
		</div>
	</div>
</div>

{% include "mainsite/snippets/terms-and-conditions.html" %}

<!-- end:: Page -->
{% endblock %}

{% block extraScripts %}
<!--begin::Page Snippets -->
<script src='{% static "mainsite/assets/snippets/pages/user/login.js" %}' type="text/javascript"></script>
<!--end::Page Snippets -->
<script type="text/javascript">
	// function AJAXCall(formData, originParent){
	// 	$.ajax({
	// 	  url: formData.url,
	// 	  method: formData.method,
	// 	}).done(function() {
	// 	  $( originParent ).addClass( "done" );
	// 	}).error(function() {
	// 		$( originParent ).addClass( "error");
	// 	});
	// }

	//Display register form by default,
	// $(document).on("load", function(){
	// 	$("a#m_login_signup").click();	
	// })
	// $("#login_submit").on('click', function(e){
	// 	e.preventDefault();
	// 	AJAXCall();
	// })

	jQuery('[data-modal-trigger]').on('click', function() {
		jQuery('#termsAndConditionsModal').modal({
			backdrop: false
		});
	})
</script>
{% endblock %}