{% extends 'mainsite/layouts/private/master-frontend-test.html' %}
{% load static %}
{% load generic_filters %}

{% block extraStyles %}
<style type="text/css">
</style>
{% endblock %}

{% block content %}
<!-- begin::Body -->
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
	<div class="m-grid__item m-grid__item--fluid m-wrapper">
		
		<!-- BEGIN: Subheader -->
		<div class="m-subheader ">
			<div class="d-flex align-items-center">
				<div class="mr-auto">
					<h5 class="m-subheader__title ">
						Something went wrong processing the requested transaction!
					</h5>
				</div>
			</div>
		</div>
		<!-- END: Subheader -->
		
		<div class="m-content">
			
		</div><!-- //m-content -->
	
	</div><!-- //m-wrapper -->
</div>
{% endblock %}


{% block extraScripts %}
<script type="text/javascript">
</script>
{% endblock %}